



<div class="card-container">

	<img class="round" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/2x/external-user-interface-kiranshastry-solid-kiranshastry-1.png" alt="user" />

	<h3>{{user.name}}</h3>
  <h3>{{user.username}}</h3>
  <h3>{{user.company.name}}</h3>
	<h3>{{user.email}}</h3>
<h3>{{user.company.catchPhrase}}</h3>


	<div class="con">

		<ul>
			<li>{{user.company.catchPhrase}} </li>
			<li>{{user.company.bs}}</li>
			<li>{{user.website}}</li>

		</ul>
	</div>
</div>

