
<div class="container">
  <h1>Employee List </h1>
  <table class="styled-table" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>View more details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>

            <td> <button [routerLink]="['/userprofile/edit', user.id]" class="btn btn-secondary">
            View more

            </button></td>
        </tr>


    </tbody>
  </table>




</div>
